body {
    background-color: #1d2d3c;
}

header {
    background-color: #06131f;
}

header img {
    width: 50px;
    filter: invert(55%) sepia(96%) saturate(389%) hue-rotate(90deg) brightness(99%) contrast(99%);
}

main .card {
    width: 280px;
    padding: 20px 50px;
    background-color: #112030;
}

main .card h5 {
    font-size: 17px;
}

main .card p {
    font-size: 13px;
}

main .modal-dialog {
    max-width: none;
    margin-right: 2%;
    margin-left: 2%;
    background-color: rgba(17, 32, 48, 0.5);
}

main .modal-content {
    background-color: transparent;
    border: 0;
}

main .modal-content .card {
    margin: auto;
    border: 0;
    background-color: transparent;
}

main .modal-content .card img {
    border-radius: 0;
}